<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings.BookitCalendarConnectionString"
      connectionString="Server=YQ-SQL01\YQSI;Database=BookitCalendarTesting2;User=sa;Password=R3al1TY"
      providerName="System.Data.SqlClient" />
    <add name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings.BookitCalendarTestingConnectionString"
      connectionString="Server=YQ-SQL01\YQSI;Database=BookitCalendarTesting2;User=sa;Password=R3al1TY"
      providerName="System.Data.SqlClient" />
    <add name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings.GanttTestConnectionString"
      connectionString="Server=YQ-SQL01\YQSI;Database=BookitCalendarTesting2;User=sa;Password=R3al1TY"
      providerName="System.Data.SqlClient" />
    <add name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings.BookitCalendarTestingConnectionString1"
      connectionString="Server=YQ-SQL01\YQSI;Database=BookitCalendarTesting2;User=sa;Password=R3al1TY"
      providerName="System.Data.SqlClient" />
    <add name="RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings.InternalTestingConnectionString"
      connectionString="Server=YQ-SQL01\YQSI;Database=BookitCalendarTesting2;User=sa;Password=R3al1TY"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationPalletteName" serializeAs="String">
        <value />
      </setting>
    </RealitySolutions.YorkQuakers.BookingCalendar.Client.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
